<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Megrim" rel="stylesheet" >
    <!-- <link git checkout href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Codystar" rel="stylesheet">

    <title><%= content_for?(:title) ? yield(:title) : "BLOOM" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_pack_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar">
      <ul class="title-area">
        <li class="title">
          <a id="title" href="/">bloom</a>
        </li>
      </ul>

      <div class="text-right">
        <p class="sign-in-info" href="#">
          <% if current_user  %>
            <p id="hello-user">Hey, <%= "#{current_user.first_name}"%>  <%= link_to "Logout", logout_path %></p>
          <% else %>
          <p id="hello-user"><%= link_to "Sign in with Google", "/auth/google" %></p>
          <% end %>
        </p>
      </div>
    </nav>

    <%= yield %>
    <%= javascript_include_tag "application" %>
    
  </body>
</html>
