<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Megrim" rel="stylesheet" >
    <!-- <link git checkout href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Codystar" rel="stylesheet">

    <title><%= content_for?(:title) ? yield(:title) : "BLOOM" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_pack_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="navbar-container">
      <div class="navbar">
        <div class="title">
          <a id="logo" href="/">bloom</a>
        </div>

        <div class="sign-in">
          <% if current_user %>
          Hey, <%="#{current_user.first_name} "%><%=link_to "Logout", logout_path %>
          <% else %>
          <a><%= link_to "Sign in with Google", "/auth/google" %></a>
          <% end %>
        </div>
      </div>
    </div>

    <%= yield %>
    <%= javascript_include_tag "application" %>

  </body>
</html>
